# DS-SF-34 | 03 | Databases, Scrapping, and APIs | Assignment | Starter Code

## The Bistro Meets `SQLite`

In this assignment, we will be exploring the `bistro` dataset.  The previous assignment used `pandas`.  Today, we'll answer the same questions but using `SQLite`.  In some situations, `pandas` will be a better solution.  In others, doing it using `SQL` will make more sense.  As you gain more experience, you'll know which one to use.

> ### Question 1.  Import the `sqlite3` package.

In [3]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

# TODO

import sqlite3

> ### Question 2.  Connect to the `dataset-03-bistro.db` database.  The rest of this assignment focus on the `bistro` table.

In [5]:
# TODO
db = sqlite3.connect(os.path.join('..', 'datasets', 'dataset-03-bistro.db'))

> ### Question 3.  How many samples (i.e., rows) are in this dataset?

In [12]:
pd.io.sql.read_sql('SELECT * FROM bistro;', con = db)

     index       day    time      name  gender  is_smoker  party  check   tip
0        0    Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1        1    Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66
2        2    Sunday  Dinner     Larry    Male          0      3  21.01  3.50
3        3    Sunday  Dinner    Joseph    Male          0      2  23.68  3.31
4        4    Sunday  Dinner    Janice  Female          0      4  24.59  3.61
..     ...       ...     ...       ...     ...        ...    ...    ...   ...
239    239  Saturday  Dinner     Kevin    Male          0      3  29.03  5.92
240    240  Saturday  Dinner    Sandra  Female          0      2  27.18  2.00
241    241  Saturday  Dinner      Carl    Male          0      2  22.67  2.00
242    242  Saturday  Dinner       Jon    Male          0      2  17.82  1.75
243    243  Thursday  Dinner    Brandi  Female          0      2  18.78  3.00

[244 rows x 9 columns]

In [11]:
# TODO

pd.io.sql.read_sql('SELECT COUNT(1) FROM bistro;', con = db)

   COUNT(1)
0       244

Answer: TODO

> ### Question 4.  Print the first two rows of the table to the console.

In [15]:
# TODO
pd.io.sql.read_sql('''SELECT * FROM bistro
                   LIMIT 2
                   ;''', con = db)

   index     day    time      name  gender  is_smoker  party  check   tip
0      0  Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1      1  Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66

> ### Question 5.  For which week days does the dataset has data for?

In [19]:
# TODO

pd.io.sql.read_sql('''SELECT DISTINCT(day)
                      FROM bistro
                   ;''', con = db)

        day
0    Sunday
1  Saturday
2  Thursday
3    Friday

Answer: TODO

> ### Question 6.  How often was the bistro patronized for each week day?

In [23]:
# TODO
pd.io.sql.read_sql('''SELECT day, COUNT() as visits
                      FROM bistro
                      GROUP BY day
                   ;''', con = db)

        day  visits
0    Friday      19
1  Saturday      87
2    Sunday      76
3  Thursday      62

Answer: TODO

> ### Question 7.  How much tip did waiters collect for each week day?

In [26]:
# TODO
pd.io.sql.read_sql('''SELECT day, SUM(tip) as total_tips
                      FROM bistro
                      GROUP BY day
                   ;''', con = db)

        day  total_tips
0    Friday       51.96
1  Saturday      260.40
2    Sunday      247.39
3  Thursday      171.83

Answer: TODO

> ### Question 8.  What is the average tip per check (in absolute \$) for each week day?

In [27]:
# TODO
pd.io.sql.read_sql('''SELECT day, SUM(tip)/COUNT(tip) as avg_tips
                      FROM bistro
                      GROUP BY day
                   ;''', con = db)

        day  avg_tips
0    Friday  2.734737
1  Saturday  2.993103
2    Sunday  3.255132
3  Thursday  2.771452

In [28]:
pd.io.sql.read_sql('''SELECT day, AVG(tip) as avg_tips
                      FROM bistro
                      GROUP BY day
                   ;''', con = db)

        day  avg_tips
0    Friday  2.734737
1  Saturday  2.993103
2    Sunday  3.255132
3  Thursday  2.771452

Answer: TODO

> ### Question 9.  What is the average tip per check (as a percentage of the check) for each week day?

(`CHECK` is a reserved keywork; use `` `check` `` (put the name between backticks) to reference the `check` column)

In [36]:
# TODO
pd.io.sql.read_sql('''SELECT day, SUM(tip) / SUM(`check`) AS por_tips
                      FROM bistro
                      GROUP BY day
                   ;''', con = db)

        day  por_tips
0    Friday  0.159445
1  Saturday  0.146424
2    Sunday  0.152038
3  Thursday  0.156732

In [37]:
# TODO
pd.io.sql.read_sql('''SELECT day, AVG(tip/`check`) AS por_tips
                      FROM bistro
                      GROUP BY day
                   ;''', con = db)

        day  por_tips
0    Friday  0.169913
1  Saturday  0.153152
2    Sunday  0.166897
3  Thursday  0.161276

Answer: TODO

> ### Question 10.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [44]:
# TODO
pd.io.sql.read_sql('''
                    SELECT name
                      FROM bistro
                      WHERE gender = 'Female'
                      
                     INTERSECT 
                   
                    SELECT name
                      FROM bistro
                      WHERE gender = 'Male'
;''', con = db)

    name
0  Casey

Answer: TODO

> ### Question 11.  If no patrons share the same name, how many unique patrons are in the dataset?

In [45]:
# TODO
pd.io.sql.read_sql('''SELECT COUNT (DISTINCT name)
                      FROM bistro
                      
                   ;''', con = db)

   COUNT (DISTINCT name)
0                    181

Answer: TODO

> ### Question 12.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [ ]:
# TODO

Answer: TODO

> ### Question 13.  Who are the top 3 female and male patrons?

In [ ]:
# TODO

Answer: TODO

> ### Question 14.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

In [ ]:
# TODO

Answer: TODO