# DS-SF-34 | Unit Project | 1 | Research Design | Starter Code

In this first unit project, you will create a framework to scope out data science projects.  This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Part A.  Evaluate the following problem statement:

> "Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and `activity score 1 = active user`, `0 = inactive user`) based on Hooli data from January-April 2015."

> ### Question 1.  What is the outcome?

Answer:Whether the customer will convert into paying customer(yes or no).

> ### Question 2.  What are the predictors/covariates?

Answer: age, gender, location, and profession and customer usage data.

> ### Question 3.  What timeframe is this data relevent for?

Answer: January-April 2015

> ### Question 4.  What is the hypothesis?

Answer: Demographic and customer usage information will allow us to predict if a customer will be a paying customer.

## Part B.  Let's start exploring our UCLA dataset and answer some simple questions:

In [65]:
import os
import pandas as pd

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.notebook_repr_html', True)

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
5        1  760.0  3.00       2.0
6        1  560.0  2.98       1.0
7        0  400.0  3.08       2.0
8        1  540.0  3.39       3.0
9        0  700.0  3.92       2.0
10       0  800.0  4.00       4.0
11       0  440.0  3.22       1.0
12       1  760.0  4.00       1.0
13       0  700.0  3.08       2.0
14       1  700.0  4.00       1.0
15       0  480.0  3.44       3.0
16       0  780.0  3.87       4.0
17       0  360.0  2.56       3.0
18       0  800.0  3.75       2.0
19       1  540.0  3.81       1.0
20       0  500.0  3.17       3.0
21       1  660.0  3.63       2.0
22       0  600.0  2.82       4.0
23       0  680.0  3.19       4.0
24       1  760.0  3.35       2.0
..     ...    ...   ...       ...
375      0  560.0  3.49       4.0
376      0  620.0  3.63       2.0
377      1  800.0  4.00       2.0
378      0  640.0  3.12       3.0
379      0  540.0  2.70       2.0
380      0  700.0  3.65       2.0
381      1  540.0  3.49       2.0
382      0  540.0  3.51       2.0
383      0  660.0  4.00       1.0
384      1  480.0  2.62       2.0
385      0  420.0  3.02       1.0
386      1  740.0  3.86       2.0
387      0  580.0  3.36       2.0
388      0  640.0  3.17       2.0
389      0  640.0  3.51       2.0
390      1  800.0  3.05       2.0
391      1  660.0  3.88       2.0
392      1  600.0  3.38       3.0
393      1  620.0  3.75       2.0
394      1  460.0  3.99       3.0
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

> ### Question 5.  Create a data dictionary.

Answer: TODO

(Use the template below)

Variable | Description | Type of Variable
---|---|---
Var 1 | 0 = Not thing, 1 = Thing | Categorical
Var 2 | Thing in unit X | Continuous

We would like to explore the association between X and Y.

In [61]:
from pandas import Series, DataFrame

ucla_dict = DataFrame({'Description' : ['0 = Not admitted, 1 = Admitted','Integer','Integer','1 = Highest tier, 4 = Lowest tier'],
                      'Type of Variable' : ['Categorical','Continuous','Continuous','Categorical'],
                      'Variable' : ['admit','gre','gpa','prestige']})
DataFrame(ucla_dict ,columns = ['Variable','Description','Type of Variable'])

   Variable                        Description Type of Variable
0     admit     0 = Not admitted, 1 = Admitted      Categorical
1       gre                            Integer       Continuous
2       gpa                            Integer       Continuous
3  prestige  1 = Highest tier, 4 = Lowest tier      Categorical

> ### Question 6.  What is the outcome?

In [71]:
df.groupby('admit').describe().gre

admit
0      count    271.000000
       mean     573.579336
       std      116.052798
       min      220.000000
       25%      500.000000
       50%      580.000000
       75%      660.000000
       max      800.000000
1      count    127.000000
       mean     618.897638
       std      108.884884
       min      300.000000
       25%      540.000000
       50%      620.000000
       75%      680.000000
       max      800.000000
Name: gre, dtype: float64

Answer: If the GRE score affect the admission result of a student.

> ### Question 7.  What are the predictors/covariates?

Answer: GPA, Prestige of the Alma mater.

> ### Question 8.  What timeframe is this data relevent for?

Answer: Insufficient information was provided.

> ### Question 9.  What is the hypothesis?

Answer: The GRE, GPA, and teh Prestige of the Alma mater will allow us to predict the admission result of an UCLA applicant.

> ### Question 10.  What's the problem statement?

> Using your answers to the above questions, write a well-formed problem statement.

Answer: 
Is the higher GRE Score will increase the possiblity of being admitted by the UCLA?

## Part C.  Create an exploratory analysis plan by answering the following questions:

Because the answers to these questions haven't yet been covered in class yet, this section is optional.  This is by design.  By having you guess or look around for these answers will help make sense once we cover this material in class.  You will not be penalized for wrong answers but we encourage you to give it a try!

> ### Question 11. What are the goals of the exploratory analysis?

Answer: The goal of the exploratory analysis is intended to disclose patterns in sets of data. The purpose of this analysis is to uncover the shape and nature of the data you are examining. This perspective begins with “seeing” the data very closely or in detail, and examining it in broad or general terms as well.

> ### Question 12.  What are the assumptions of the distribution of data?

Answer: TODO

> ### Question 13.  How will determine the distribution of your data?

Answer: Normal distribution, Poisson distribution, exponential distribution, binomial distribution, etc.

> ### Question 14.  How might outliers impact your analysis?

Answer: TODO

> ### Question 15.  How will you test for outliers?

Answer: Having outliers often has a significant effect on your mean and standard deviation. Because of this, we must take steps to remove outliers from our data sets.

> ### Question 16.  What is colinearity?

Answer: Colinearuty is a phenomenon in which two or more predictor variables in a multiple regression model are highly correlated, meaning that one can be linearly predicted from the others with a substantial degree of accuracy.

> ### Question 17.  How will you test for covariance?

Answer: TODO

> ### Question 18.  What is your exploratory analysis plan?

> Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: TODO